h1{
    text-align: center;
    color:burlywood;
    font-size: 50px;
    padding: 30px;
    margin: 50px;
    margin-top: 1px;
    
    
  }
  h1 a{
      color:darkblue;
      
     
   }
   h2{
       color:rebeccapurple;
   }